<div>
    <h1>The Mealer Dealer</h1>
</div>
<div>
    <h3>Please choose from the following</h3>
</div>

<div>
    <button id="createMealBtn" class="cta-button">Create a Meal</button>
    <button id="pastMealsBtn" class="cta-button">View Past Meals</button>
</div>

<script src="./js/homepage.js"></script>