<div>
    <h1>The Mealer Dealer</h1>
</div>
<div>
    <h3>Please choose from the following</h3>
</div>
<div>
    <button id="createMealBtn">Create a Meal</button>
</div>
<div>
    <button id="pastMealsBtn">View Past Meals</button>
</div>

<script src="./js/homepage.js"></script>