<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Login</h2>

        <form class="login">
            <div class="form-group">
                <label for="email-login">Email</label>
                <input class="form-input" type="email" id="email-input" />
            </div>
            <div class="form-group">
                <label for="password-login">Password</label>
                <input class="form-input" type="password" id="password-log-in" />
            </div>
            <div class="form-group">
                <button class="btn btn-priamry" type="submit">Login</button>
            </div>
        </form>
    </div>
     <div class="col-md-6 col-md-offset-3">
        <h2>Signup</h2>

        <form class="signup">
            <div class="form-group">
                <label for="email-signup">Email</label>
                <input class="form-input" type="email" id="email-signup" />
            </div>
            <div class="form-group">
                <label for="password-signup">Password</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Signup</button>
            </div>
        </form>
     </div>
</div>

<script src="./js/login.js"></script>